.navbar{
    display: flex;
    height: 10vh;
    width: 1600px;
    background-color: lightskyblue;
    justify-content: center;
    align-items: center;
    margin-top: -7.9px;
    margin-left: -11px;
}
.logo{
    font-size: 4vmax;
    font-weight: 600;
}
@media (max-width:600px) {
    .navbar{
        width: 328px;
        margin-top: -7.9px;
        margin-left: -11px;
        background-color: rgb(4, 180, 255);
        color: aliceblue;
        display: flexbox;
        position:fixed;
    }
    .logo{
        margin-right: 50px;
    }
    .navbar i{
        padding-left: 5vw;
        padding-right: 5px;
        font-size: 5vmax;

    }
    .content{
        width: 320px;
        background-color:rgb(0, 255, 255);
        margin-left: -11px;
    }
    .content marquee{
        margin-top: 50px;
        font-size: 5vw;
        color: rgb(19, 33, 45);
    }
    .pre{
        font-weight:bolder;
    }
    .firstimg{
        margin-left: -2px;
    }
    .firstimg p{   
        margin-top: 7px; 
        text-align: center;
    }
    .left{
        height: 20vh;
        width: 50%;
        margin-top: 20px;
        margin-right: 10px;
    }
    .left h4{
        text-decoration: underline;
        color: rgb(45, 167, 237);
    }
    .right{
        background-color: rgb(249, 253, 255);
        height: 50vh;
        width: 50%;

    }
    .left-right{
        margin: 20px 5px;
        display: flex;
    }
    .img2{
        text-align: center;
        color: rgb(15, 17, 6);
    }
    .img2 h1{
        color:rgb(51, 184, 237)
    }
    .left2{
        margin-left: -11px;
    }
    footer{
        background-color:rgb(61, 174, 244);
        height: 200px;
        width: 320px;
        margin-left: -8px;
        margin-bottom: -10px;
        text-align:left;
        color: rgb(213, 225, 225);
    }
    footer h2{
        text-align: center;
        color: rgb(255, 255, 255);
        padding-top: 20px;
    }
    footer ul{
        padding-top: 30px;
    }
}